<div class="container">
  <h2 class="text-center">VIEW YOUR REPOSITORY</h2>
  <div class="text-center hy">
    <app-form (emittextsearch)="reposearch($event)"></app-form>
  </div>

  <div>
    <div class="first">
      <div class="card" *ngFor="let repo of repository" class="card m-2" style="width: 22rem;" class="second">
        <div class="card-body">
          <h5 class="card-title" appStyling><i class="fa fa-eye" aria-hidden="true"></i> &nbsp; Repo Name:{{repo.name}} </h5>
          <hr>
          <div class="card-text">
            <p>Description :{{repo.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>