.card2,
.card1{
    padding: 0px;
    border: 0px;
}
.search{
    padding: 50px;
    border-radius: 10px;
}
h2{
    padding-top: 20px;
}
h5{
    color: white;
    font-family: 'Lobster', cursive;
}
.in{
    padding-top: 40px;
}
img {
    width: 200px;
    border-radius: 30px;
}